.article {
  flex-basis: 32%;
  color: var(--primary-light-color);
}

.article-img {
  margin-bottom: 0.5rem;
}

.article-title {
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
}

.article-text {
  margin-bottom: 1.25rem;
  line-height: 1.5;
  max-height: 10.125rem;
  overflow: hidden;
}
