.promo {
  padding: 6rem 0;
}

.promo-article {
  width: 38rem;
  margin: auto;
}

.promo-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--primary-light-color);
}

.promo-text {
  margin-bottom: 1rem;
  color: var(--primary-light-color);
}
