@media (min-width: 600px) {
  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .gallery-item {
    flex-basis: 49%;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  .gallery-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
