.content {
  display: inline-block;
  width: 880px;
  vertical-align: top;
}

.article {
  padding: 8px;
  display: inline-block;
  width: 432px;
  margin-right: 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.article:nth-child(2n) {
  margin-right: 0;
}

.article-img {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.article-title {
  margin-bottom: 8px;
}
