.page-footer {
  margin-top: 16px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

/* .footer-lists {
} */

.footer-list {
  display: inline-block;
  text-align: center;
}

.footer-list ul {
  width: 316px;
  list-style: none;
}
