.team-member {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 24%;
}

.member-card {
  flex-grow: 1;
}

.team-member:hover > .team-socials {
  display: block;
}

.team-member:hover .member-descr {
  background-color: var(--secondary-dark-color);
}

.team-member:hover .member-descr {
  background-color: var(--secondary-dark-color);
  color: var(--primary-light-color);
}

.team-member:hover .member-pos {
  color: var(--primary-light-color);
}

.team-member:hover .member-img {
  filter: opacity(0.8);
}

.member-descr {
  background-color: var(--secondary-light-color);
  color: var(--primary-light-color);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 0.625rem 0;
  color: var(--primary-dark-color);
}

.member-pos {
  display: block;
  color: #8d8f92;
  text-transform: capitalize;
}

.team-socials {
  display: none;
  position: absolute;
}

.icon {
  display: inline-block;
  height: 3.75rem;
  width: 3.75rem;
  background-size: cover;
  background-color: var(--secondary-dark-color);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon:hover {
  background-color: #4e5a62;
}

.icon-facebook {
  background-image: url(../../img/team/facebook.svg);
}

.icon-linkedin {
  background-image: url(../../img/team/linkedin.svg);
}

.icon-twitter {
  background-image: url(../../img/team/twitter.svg);
}
