.page-header {
  padding: 4px 16px;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url(../img/logo.png);
  background-size: cover;
}

.menu {
  float: right;
  padding-top: 16px;
  list-style: none;
}

.menu-item {
  float: left;
  margin-right: 10px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 8px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-link:hover {
  border: 1px solid #333;
}
