* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #90A4AE;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 60rem;
  min-width: 20rem;
  margin: auto;
}
