.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {}

.menu__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: #414141;
  color: #fff;
}

.menu__link--hover:hover {
  background-color: teal;
}
