.about {
  background-color: #3a454d;
}

.about .section-title {
  color: #F4F7F5;
}

.article {
  flex-basis: 32%;
  color: #F4F7F5;
}

.article:nth-child(3n) {
  margin-right: 0;
}

.article:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.article-img {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.article-title {
  margin-bottom: 0.75rem;
  font-size: 1.875rem;
}

.article-text {
  margin-bottom: 1.25rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.article-link {
  display: inline-block;
  padding: 0.75rem;
  border-radius: 0.125rem;
  color: #F4F7F5;
  border: 1px solid #F4F7F5;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.article-link:hover {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
