@font-face {
  font-family: 'Brela Regular';
  src: url('../fonts/brelaregular-webfont.woff2') format('woff2'),
       url('../fonts/brelaregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
